:root{
  /*Pallete. Colors from darker to lighter*/
  --beige: #EAF4D3;
  --vanilla: #DBD8AE;
  --mamey: #CA907E;
  --red: #994636;
  --orange-brown: #895B1E;
 /*Extra colors*/
  --medium-gray: #626868;
  --light-gray: #939196;
  --almost-white: #E5E5E5;

  background-color: var(--vanilla);
}
main{
  background-color: var(--beige);
  border: 1px solid var(--light-gray);
  padding: 1%;
}
h1, h2, h3, h4{
  font-family: Arial, Helvetica, sans-serif;
  color: var(--red);
}

p, i, em, label{
  font-family: Arial, Helvetica, sans-serif;
  color: black;
}
