<!DOCTYPE html>
<html lang="en">

<head>
  <title>Test Site NODEJS</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="/css/style.css" rel="stylesheet">
</head>

<body>
  <header>
    <nav></nav>
  </header>
  <main>
    <h1>It worked!</h1>
    <p>Your user have been registered correctly! Try to see it at "Manage Accounts"</p>
    <button onclick="location.href='/' ">Go to Home</button>
  </main>
  <footer>
  </footer>
</body>

</html>
